$primary: rgb(36, 32, 32);
$secondary: gray;
$white: white;
$font-family-base: "Roboto", sans-serif;

$breakpoints: (
  xxs: 420px,
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px,
  hd: 1400px
);
